.git
.docker
**/.git
**/node_modules
**/.docker
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
frontend/dist
socketio/coverage
